@using System.Activities.Statements
@using MovieShopBackend.Entities
@model MovieShopUser.Models.GenreMovieViewModel

@{
    ViewBag.Title = "MovieShop";
}

<main class="container">
    <section class="filmes" id="filmes">
        <h2>All Movies</h2>
        @foreach (Movie movie in Model.Movies)
        {
            <div class="span">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="@Url.Action("Details", "Shop",new {id = movie.Id})">
                        <article class="card">
                            <header class="title-header">
                                <h2>@movie.Title</h2>
                            </header>
                            <div class="card-block">
                                <div class="img-card">
                                    <img src="@movie.ImageUrl" alt="Movie" style="max-width: 250px; height: 250px"/>
                                </div>
                                <p class="tagline card-text text-xs-center">Genre: fejl bliver kigget på<br />Year @movie.Year <br />Price @movie.Price</p>
                                <a href="@movie.Trailer" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> Watch Now</a>
                            </div>
                        </article>
                    </a>
                </div>
            </div>

        }
        
    </section>
</main>
<footer class="footer text-muted text-xs-center text-md-left bg-inverse">
    <div class="container">
        <ul class="footer-links">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">DMCA</a></li>
        </ul>
        <p>&copy 2016 - All rights reserved.</p>
    </div>
</footer>