@using System.Activities.Statements
@using MovieShopBackend.Entities
@model MovieShopUser.Models.GenreMovieViewModel

@{
    ViewBag.Title = "MovieShop";
}

<main class="container">
    <section class="filmes" id="filmes">
        <h2>All Movies</h2>
        @foreach (Movie movie in Model.Movies)
        {
            <div class="span">
                <div class="col-lg-3 col-md-4 col-sm-6" >
                    <a class="link"href="@Url.Action("Details", "Shop",new {id = movie.Id})">
                        <article class="card">
                            <header class="title-header">
                                <h2 style="color: black;  text-decoration: none">@movie.Title</h2>
                            </header>
                            <div class="card-block">
                                <div class="img-card">
                                    <img src="@movie.ImageUrl" alt="Movie" style="max-width: 250px; height: 250px; "/>
                                </div>
                                <p class="tagline card-text text-xs-center" style="color: black;">
                                    Genre: @movie.Genre.Name<br/>Year @movie.Year <br/>Price @movie.Price
                                </p>
                                <a href="@movie.Trailer" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> Watch Trailer</a>
                            </div>
                        </article>
                    </a>
                </div>
            </div>

        }
        
    </section>
</main>
